<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Copy List</title>
<link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Quickclip!</h1>
    <p class="lead"> Hold down a modifier(ctrl, alt, etc) and a number key for more than 1 second to save. Release
    in less than a second to paste. Can also hold mouse button for more than 2 seconds to go through a circular buffer. </p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
    <div id="buffer">Nothing in your buffer!</div>
  </div>


<script src="../js/buffer.js"></script>
</body>
</html>
