<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Saved</title>
  <script type="text/javascript" src="..js/jquery-3.1.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="..js/popper.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="..js/bootstrap.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="..js/mdb.js"></script>
  <link rel="stylesheet" href="../css/font-awesome.css">
  <link rel="stylesheet" href="../css/savepop.css">
  <link rel="stylesheet" href="../css/mdb.css">
</head>

<body>
  <div class="center">
    <button type="button" class="btn btn-primary nowrap" id ="saveState">Save changes</button>
    <button type="button" class="btn btn-secondary nowrap" id="timeTaken">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Close<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
  </div>
  <script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="../js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../js/mdb.min.js"></script>
  <script src="../js/save.js"></script>
</body>

</html>
